
$boxshadow : 0 4px 8px 6px rgba(7,17,27,.06) !default;
$hovershadow: 0 4px 12px 12px rgba(7,17,27,.15) !default;
$titlecolor: #2e2e2e !default;
$lightcolor: #858585 !default;
$imgtransform: scale(1.1) !default;
$textcolor: #4c4948;
$textfontsize: 14px;
$titlefontsize: 24px;

